@page "/projects"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using CFIssueTrackerCommon.Data
@using CFIssueTrackerCommon.Models
@using CFIssueTracker.Data
@using CFIssueTracker.Utilities
@implements IAsyncDisposable

@inject IDbContextFactory<CFIssueTrackerContext> DbFactory

@attribute [Authorize(Roles = "Administrator")]

<PageTitle>Index</PageTitle>

<h1>Project List</h1>

<p>
    <a href="projects/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Project">
    <PropertyColumn Property="project => project.Name" />

    <TemplateColumn Title="Color" Context="project">
        <ColoredLabel BackColor="@(GetProjectColor(@project))" Text="@project.Name" />
    </TemplateColumn>

    <TemplateColumn Title="Image" Context="project">
        <img class="entityimage" src="../images/projects/@project.ImageSource" />
    </TemplateColumn>

    <TemplateColumn Context="project">
        <a href="@($"projects/edit?id={project.Id}")">Edit</a> |
        <a href="@($"projects/details?id={project.Id}")">Details</a> |
        <a href="@($"projects/delete?id={project.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private CFIssueTrackerContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    private string GetProjectColor(Project project)
    {
        return HTMLUtilities.GetHTMLColor(project.Color);
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
